

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #87CEEB;
  content: "/\00a0"
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;

}

p {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: justify;
}

.navbar {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.cart-items-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cart-item {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.cart-item img {
  max-width: 100px;
  max-height: 100px;
}

.cart-summary {
  text-align: center;
  margin-top: 20px;
}

.cart-summary button {
  width: 100px;
  height: 50px;
  margin: 10px;
  padding: 5px 10px;
  background-color: rgba(63, 52, 228, 1);
  border: 0px;
  border-radius: 10px;
  opacity: 100%;
  color: white;
}

.user-info {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.user-info input {
  width: 200px;
  height: 30px;
  margin: 10px;
}
