#productDetails {
  background-color: white;
  width: 500px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-top: 10px;
}

#productDetails img {
  width: 100%;
  border-radius: 10px;
  align-items: center;
}

.productImage {
  width: 100%;
  align-items: center;
}

h1 {
  color: black;
  margin-top: 20px;
}

p {
  color: white;
  text-align: justify;
}

.btn-success {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #6495ED;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.btn-success:hover {
  background-color: #01447e;
}

.breadcrumb {
  color: #FFFFFF;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
}

.breadcrumb a {
  color: #0275d8;
}

.breadcrumb span {
  margin: 0 5px;
}

.proceedToOrderForm {
  text-align: center;
}

.productDescription{
  text-align: justify;
  width: 100%;
}

.productPrice{
}

.btn btn-success{
  width: 100px;
}

.search-bar{
  width: 1000px;
}

.productDetails button{
  margin-left: 195px;
  background-color: #6495ED;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.productDetails button:hover{
  background-color: #01447e;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  text-align: justify;
}